/* ==========================================================================
   Includes
   ========================================================================== */
@import "variable";
@import "normalize";
@import "icons";
@import "fonts";
@import "markdown.css";
@import "prism.css";
@import "basics";
@import "copyright";
@import "header";
@import "navigation";
@import "menu";
@import "progress";
@import "footer";
@import "blog";
@import "tags";
@import "archive";
@import "post";
@import "pagination";
@import "third-part";

/* ==========================================================================
   Media Queries - Bigger than 1200px
   ========================================================================== */

@media (min-width: 1200px) {
  html {
    font-size: 58%;
  }
}

/* ==========================================================================
   Media Queries - Bigger than 1920
   ========================================================================== */

@media (min-width: 1925px) {
  html {
    font-size: 66%;
  }
}

/* ==========================================================================
   Media Queries - Smaller than 960px
   ========================================================================== */

@media only screen and (max-width: 960px) {
  .scroll-down {
    .blog-logo,
    .nav-button {
      transform: translateY(-160%);
    }
  }

  #blog-author {
    margin: auto;
  }
  .post-author-others {
    .other-avatar {
      margin-left: 0.1em;
    }
    &:hover {
      .other-avatar {
        margin-left: 0.1em;
      }
    }
  }
}

/* ==========================================================================
   Media Queries - Smaller than 640px
   ========================================================================== */

@media only screen and (max-width: 640px) {
  html {
    font-size: 50%;
  }
  .post-share,
  .post-tags {
    max-width: none;
    float: none;
    margin: 0 0 2em;
  }
  .post-share a {
    margin-left: 0;
    margin-right: 0.667em;
  }
  .post-nav i {
    font-size: 1.5em;
  }
}

/* ==========================================================================
   Media Queries - Smaller than 480px
   ========================================================================== */

@media only screen and (max-width: 480px) {
  .inner {
    padding: 0 16px;
  }
  #main-nav a {
    margin: 16px;
  }
  .container .post.featured .post-title:after {
    left: 0;
    top: -1.75em;
  }
  .post-content img,
  .post-content .fluid-width-video-wrapper {
    width: 100%;
    margin-left: auto;
  }
  .post-nav:after {
    display: none;
  }
  .post-nav-prev,
  .post-nav-next {
    display: block;
    width: 100%;
  }
  .post-nav-teaser {
    position: relative;
    min-height: 4em;
    padding: 2em 0;
  }
  .post-nav-prev .post-nav-teaser:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    margin-bottom: -1px;
    background: $color-gray-90;
    z-index: 2;
  }
  .post-nav-prev .post-nav-teaser {
    padding-right: 0;
    padding-left: 1.5em;
  }
  .post-nav-next .post-nav-teaser {
    padding-left: 0;
    padding-right: 1.5em;
  }
  .post-nav-prev i {
    margin-left: -1em;
  }
  .post-nav-next i {
    margin-right: -1em;
  }
}

/* ==========================================================================
   Media Queries - Smaller than 320px
   ========================================================================== */

@media only screen and (max-width: 320px) {
  .pagination .pagination-label {
    display: none;
  }
}

/* ==========================================================================
   Page 404
   ========================================================================== */

.page-404 {
  text-align: center;
  color: $color-blue-30;

  .page-404-back {
    display: flex;
    justify-content: center;
    align-items: center;
    a, .icon {
      color: $color-blue-30;
      transition: all ease 200ms;
    }
    &:hover {
      color: $color-red-95;
      i {
        color: $color-red-95;
      }
      a {
        color: $color-red-95;
      }
    }
  }
}
