!/*.js
/tests/**/*.js
!/**/.eslintrc.js
/test.js
/dist/
/public/
/backup/
/raw/
/script/
/static/
gatsby-browser.js
gatsby-config.js
gatsby-node.js
**/node_modules/**
/website/static/lib/
/tests_integration/cli/
